*{margin: 0%;
    ]padding: 0%;
}
.cabecalho {background-color: blue;
color: azure;
display: flex;
padding: 24px;
justify-content: space-around;}
.cabecalho-imagem{
    width: 5%;
    height: 5%;}
.cabecalho-item{
    display: inline-block;
    font-size: 30px;
    padding: 10 0 0 10px;
}